body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Jua", sans-serif;
}

input {
  font-size: 16px;
}

#root {
  background-color: #fff;
  width: 380px;
  min-width: 375px;
  height: 865px;
  position: relative;
  border-radius: 15px;
}

.app {
  height: 100%;
  padding: 16px 24px;
}
